body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #ffffff;
}

header {
    background-image: url('preview.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

h2 {
    margin: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #99aabb;
}

main {
    padding: 20px;
}

section {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

    section:hover {
        transform: scale(1.05);
    }

h3 {
    font-size: 2em;
    color: #ffdd57;
    text-transform: uppercase;
    border-bottom: 2px solid #ffdd57;
    padding-bottom: 10px;
}

h4 {
    font-size: 1.2em;
    color: #ffdd57;
}

p, ul {
    font-size: 1em;
    color: #dddddd;
}

ul {
    list-style: none;
    padding: 0;
}

    ul li {
        padding-left: 1.2em;
        text-indent: -1.2em;
    }

        ul li:before {
            content: '★';
            padding-right: 10px;
            color: #ffdd57;
        }

button {
    background: #ffdd57;
    color: #1b263b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s ease-in-out;
}

    button:hover {
        background: #e6c435;
    }

.details {
    display: none;
    margin-top: 20px;
}

/* Ajoutez ces styles à la fin de votre fichier style.css */

footer {
    background: transparent;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000; /* Assure que le footer est au-dessus du contenu */
}

    footer p {
        margin: 0;
    }

ul {
    list-style-type: none;
    padding: 0;
}

    ul li {
        display: inline-block;
        margin: 0 10px;
    }

        ul li a {
            color: #ff9800;
            text-decoration: none;
        }

            ul li a:hover {
                text-decoration: underline;
            }
